.c1 {
    background-color: #0b0b0b;
}

.c1-h {
    padding-top: 10rem;
    text-align: center;
    font-size: 26px;
    line-height: 2.8rem;
    letter-spacing: 2px;
    font-family: "Nunito";
    text-shadow: 0 0 15px #04ff69;
    color: #04ff69;
}

.c1-h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 4rem;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2rem;
}

.c1-div {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 10rem;
    grid-gap: 10px;
}

.c1-div1 {
    grid-column: 2/3;
}

.c1-div1-p {
    font-size: 14px;
    color: #ffffff;
    line-height: 2.8rem;
    letter-spacing: 1px;

}

.c1-div2 {
    grid-column: 3/4;
}