.company {
    background-color: #0B0B0B;
}

.section-1 {
    padding-top: 5rem;
    display: grid;
    width: 100%;
    grid-template-columns: 10rem 1fr 1fr 10rem;
    column-gap: 10px;
}

.part-1 {
    position: absolute;
    grid-column: 2/3;
    justify-content: center;
    margin-top: 8rem;
}

.section-1-part-1-h {
    text-align: center;
    font-family: 'Nunito';
    margin-left: calc(-19%);
    color: #ffffff;
    font-size: 26px;
    line-height: 2.8rem;
    letter-spacing: 2px;
    text-shadow: 0 0 15px #04FF69;
}

.section-1-part-1-p {
    width: 60%;

    margin-left: 10rem;
    margin-right: 5rem;
    margin-top: 3rem;
    text-align: justify;
    color: #ffffff;
    font-size: 14px;
    line-height: 2rem;
    letter-spacing: 1px;
}

.section-1-part-1-button {
    display: flex;
}

.section-1-part-1-btn1 {
    margin-left: 15rem;
}

.section-1-part-1-btn2 {
    margin-left: -25rem;
}

.button2 {
    cursor: pointer;
    content: " ";
    color: #04FF69;
    cursor: pointer;
    background-color: #1C1C1C;
    padding: 15px 40px;
    font-weight: 400;
    border: none;
    text-align: center;
    box-shadow: 0 0 1px #00ff00, 0 0 1px #00ff00, 0 0 1px #00ff00, 0 0 5px #00ff00;
    animation: neon 1s ease-in-out infinite alternate;
}

@keyframes neon {
    to {
        box-shadow: 0 0 5px #00ff00, 0 0 0px #00ff00, 0 0 5px #00ff00, 0 0 5px #00ff00;
    }
}

.part-2 {
    grid-column: 3/4;
}

.section-1-part-2-img {
    width: 500px;
    border-radius: 10px;
    margin-left: 5rem;
}

/* Second section */

.section-2-h {
    margin-top: 7rem;
    text-align: center;
    color: #878787;
    font-size: 20px;
}

.section-2-div {
    display: grid;
    grid-template-columns: 15rem 1fr 1fr 1fr 15rem;
    grid-gap: 2rem;
    justify-content: center;
    margin-top: 4rem;
}

.section-2-div1 {
    grid-column: 2/3;
    border: 1px solid #04FF69;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
}

.section-2-div2 {
    grid-column: 3/4;
    border: 1px solid #04FF69;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
}

.section-2-div3 {
    grid-column: 4/5;
    border: 1px solid #04FF69;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
}

.section-2-div-h {
    margin-top: 3rem;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    word-spacing: 4px;
}

.section-2-div-p {
    margin-top: 3rem;
    text-align: justify;
    width: 80%;
    margin-left: calc(10%);
    line-height: 1.9rem;
    font-size: 14px;
    color: #7F7F7F;
}


/* Section-3 */

.section-3-div1 {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 5rem;
    grid-column-gap: 30px;
}

.img-1 {
    border-radius: 10px;
    grid-column: 2/3;
}

.section-3-div-image {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid #04FF69;
    margin-left: 2rem;
}

.section-3-div-img {
    width: 100%;
    height: 350px;
    border-radius: 10px;

    border: 1px solid #04FF69;
}

.section-3-div-content {
    grid-column: 3/4;
    /* margin-left: -2rem; */
}

.section-3-div-h1 {
    color: #ffffff;
    margin: 4rem 3rem;
    font-size: 16px;


}

.section-3-div-h2 {
    color: #ffffff;
    margin: 0rem 3rem;
    font-size: 26px;
    line-height: 2.5rem;
    text-shadow: 0 0 15px #04FF69;
}

.section-3-div-p {
    color: #878787;
    margin: 5rem 3rem;
    font-size: 16px;
    line-height: 2.5rem;
    letter-spacing: 1px;
}

.section-3-div2 {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 5rem;
    grid-column-gap: 30px;
}

.img-2 {
    width: 500px;
    /* background-color: rgba(119, 248, 165, 0.2); */
    grid-column: 3/4;
    margin-left: 5rem;
}

.content-2 {
    grid-column: 2/3;
}

.section-3-div3 {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 5rem;
    grid-column-gap: 30px;
}

.section-3-div4 {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 5rem;
    grid-column-gap: 30px;
}


/* Section-4 */

.section-4-h {
    margin-top: 7rem;
    text-align: center;
    color: #878787;
    font-size: 18px;
}

.section-4-h2 {
    margin-top: 7rem;
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    text-shadow: 0 0 15px #04FF69;
}

.section-4-div {
    margin-top: 15rem;
    display: grid;
    grid-template-rows: 10rem 1fr 1fr 1fr 1fr 10rem;
    padding-bottom: 5rem;
    align-items: center;
    /* justify-content: center; */
}

.section-4-div-leftArrow {
    grid-column: 2/3;
}

.arrow-left-icon {
    color: #ffffff;
    font-size: 30px;
    /* margin-top: calc(40%); */
    /* margin-left: calc(20%); */
}

.section-4-div1 {
    margin-top: 5rem;
    grid-column: 3/4;
    width: 400px;
    height: 300px;


    background:
        linear-gradient(135deg, transparent 00px, #1b1b1b 0) top left,
        linear-gradient(-135deg, transparent 40px, #1b1b1b 0) top right,
        linear-gradient(-45deg, transparent 0px, #1b1b1b 0) bottom right,
        linear-gradient(45deg, transparent 40px, #1b1b1b 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;


}

.section-4-div2 {
    /* margin-left: -10rem; */
    margin-top: 5rem;
    grid-column: 4/5;
    width: 400px;
    height: 300px;
    background:
        linear-gradient(135deg, transparent 40px, #1b1b1b 0) top left,
        linear-gradient(-135deg, transparent 00px, #1b1b1b 0) top right,
        linear-gradient(-45deg, transparent 40px, #1b1b1b 0) bottom right,
        linear-gradient(45deg, transparent 00px, #1b1b1b 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.section-4-div-rightArrow {
    grid-column: 5/6;
}

.arrow-right-icon {
    color: #ffffff;
    font-size: 30px;
    /* margin-top: calc(40%); */
    /* margin-left: calc(-20%); */
}

.section-4-div-img {
    margin: 5rem;
}

.section-4-div-h {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    /* margin-left: calc(20%); */
    margin-bottom: 5rem;
    transition: 'all 0.5s ease'

}

.section-4-div-a {
    color: #04FF69;
    font-size: 14px;
    margin-left: calc(42%);
}


.section-6 {
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.section-6-div1 {
    /* height: 20rem; */
    box-shadow: inset 10px 10px 100px rgba(4, 255, 105, 0.2);
}

.section-6-div1-h {
    padding-top: 10rem;
    margin-left: calc(10rem);
    color: #ffffff;
    font-size: 26px;
    text-shadow: 0 0 15px #04FF69;
}

.section-6-display-flex {
    display: flex;
}

.section-6-div1-p {
    color: #ffffff;
    margin-top: 5rem;
    margin-left: calc(8rem);
    font-size: 16px;
    line-height: 2.5rem;
    letter-spacing: 1px;
    padding-bottom: 10rem;
}

.section-6-button {
    display: flex;
    padding-bottom: 10rem;
}

.section-6-button1 {
    width: fit-content;
    margin-left: 20rem;
}

.section-6-button2 {
    width: fit-content;
    margin-left: 10rem;

}

@media (max-width: 1200px) {}

@media (max-width: 998px) {}

@media (max-width: 798px) {}

@media (max-width: 520px) {}