.section-2 {
    background-color: #0B0B0B;
    padding-top: 10px;
}

.h {
    font-size: 25px;
    font-weight: 900;
    color: #F6F6F6;
    text-align: center;
    text-shadow: 2px 2px 2px #8D8C8C;
    margin-top: 5rem;
}

.second-section-p {
    font-size: 12px;
    color: #8D8C8C;
    text-align: center;
    margin: 2rem 25rem;
}

.section-second-square {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 5rem auto auto auto auto 5rem;
}

.sq1 {
    grid-column: 2/3;
}

.sq {
    position: relative;
    clip-path: polygon(50% 100%, 100% 75%, 100% 0%, 0% 0%, 0% 75%);
    background: #141414;
    margin: 0 2rem;
    height: 32rem;
    border-radius: 20px;
    border: 1px solid #04FF69;
    /* z-index: 99; */
}

.sq-h1 {
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 5rem;
    text-align: center;
}

.sq-h2 {
    font-size: 12px;
    color: #ACE498;
    padding-top: 1rem;
    text-align: center;
}

.sq-p {
    word-spacing: 0.2rem;
    font-size: 10px;
    color: #FFFFFF;
    padding-top: 3rem;
    text-align: justify;
    width: 85%;
    margin-left: calc(5%);
}

.sq-span {
    position: absolute;
    top: 25rem;
    right: 10rem;
    padding: 2rem;
    background-color: #04FF69;
    width: 25%;
    border-radius: 50%;
}

.sq-icon {
    font-size: 30px;
    color: #000;
}



@media (max-width: 1080px) {}

@media (max-width: 998px) {
    .section-second-square {
        width: 90%;
        display: grid;
        grid-template-columns: 5rem repeat(2, 1fr) 5rem;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 20px;
    }

    .sq {
        clip-path: polygon(50% 100%, 100% 75%, 100% 0%, 0% 0%, 0% 75%);
        background: #141414;
        height: 30rem;
        width: 60%;
    }

    .sq-h1 {
        font-size: 20px;
        color: #FFFFFF;
        padding-top: 5rem;
        text-align: center;
    }

    .sq-h2 {
        font-size: 10px;
    }

    .sq-p {
        font-size: 8px;
        width: 80%;
        margin-left: calc(10%);
    }

    .sq-span {
        right: 9rem;
        padding: 1rem;
        width: 20%;
    }

    .sq-icon {
        font-size: 25px;
    }

    .sq1 {
        grid-column: 2/3;
    }

    .sq3 {
        grid-column: 2/3;
    }
}

@media (max-width: 798px) {

    .section-second-square {
        width: 70%;
        display: block;
        margin-left: calc(26%);

    }

    .sq2 {
        margin-top: 4rem;
    }

    .sq3 {
        margin-top: 4rem;
    }

    .sq4 {
        margin-top: 4rem;
    }
}

@media (max-width: 520px) {
    .section-second-square {
        margin-top: 5rem;
        width: 100%;
        display: grid;
        grid-template-columns: 5rem auto auto auto auto 5rem;
    }
}