* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: #0B0B0B; */
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-nav {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 3fr 10rem;
    /* box-shadow: rgba(22, 49, 38, 0.25) 0px 50px 100px -20px, */
    /* rgba(15, 31, 17, 0.3) 0px 30px 60px -30px; */
    background-color: #0B0B0B;
}

.logo {
    display: grid;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
    color: #04FF69;
    font-size: 15px;
}

.menu-link {
    grid-column: 3/4;
}

.menu-link {
    grid-template-columns: 1fr;
    display: grid;
}

.menu-link a {
    color: #7A7A7A;
}

.menu-link ul {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    content: ' ';
}

.menu-link ul li {
    font-size: 15px;
}

.menu-link ul li a {
    text-transform: capitalize;
    color: #7a7a7a;
    transition: 0.5s;
}

.menu-link ul li:hover>a {
    color: rgb(176, 176, 206);
    text-decoration: underline;
    transition: 0.5s;
    width: 100%;

}

.try-btn {
    justify-content: end;
    align-items: center;
    display: grid;
    grid-column: 4/5;
}

.button {
    color: #141414;
    cursor: pointer;
    background-color: #04FF69;
    padding: 10px 15px;
    font-weight: 700;
    border: none;
    text-align: center;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 1080px) {
    .main-nav {
        height: 8rem;
        grid-template-columns: 5rem 2fr 3fr 5rem;
    }

    .logo,
    .menu-link ul,
    .try-btn {
        height: 8rem;
    }
}

@media (max-width: 998px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 5rem 2fr 3fr 2rem 5rem;
        background-color: #0B0B0B;
    }

    .menu-link {
        display: none;
    }

    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
        background-color: #0B0B0B;
        height: 20rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        grid-column: 1/5;
        align-items: left;
        padding-left: 5rem;
        transition: all 2s linear;
        transform-origin: top;
    }


    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }

    .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
    }

    .menu-link .try-btn {
        justify-content: left;
    }


    .social-media {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
    }

    .social-media {
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }

    .hamburger-menu a {
        color: #ffffff;
    }
}

@media (max-width: 798px) {
    .main-nav {
        height: 8rem;
        grid-template-columns: 2rem 2fr 1fr 1fr 2rem;
    }

    .logo {
        height: 6rem;
    }

    .try-btn button {
        height: 5rem;
    }

    .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }

    .hamburger-menu a {
        color: #ffffff;
    }
}

@media (max-width: 520px) {
    .main-nav {
        height: 10rem;
        grid-template-columns: 2rem 4fr 1fr 1fr 2rem;
    }

    .logo {
        height: 5rem;
    }

    .logo h2 {
        font-size: 2rem;
    }

    .try-btn button {
        height: 4rem;
    }

    .hamburger-menu {
        display: block;
        font-size: 2.5rem;
        grid-column: 4/5;
    }

}